/* ====== GLOBAL CSS ====== */

:root{
    --main-hue: 200;
    /* --secondary-hue: 0; */
    --bg-color: hsla(var(--main-hue), 8%, 92%, 1);
    --nv-color: hsla(210, 26%, 93%, 1);
    --logo-color: hsl(45, 100%, 51%);
    --blue-color: hsla(200, 100%, 37%, 1);
    --red-color: hsla(0, 63%, 61%, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    direction: ltr;
}

body{
    background-color: var(--bg-color);
}
/* ====== END GLOBAL CSS ====== */

/* ====== HEADER ====== */
.brand{
    text-transform: uppercase;
    max-width: 10vw;
    margin-left: 10vw;
    font-weight: 900;
    font-size: calc(1.375rem + 1.5vw);
}

.brand span{
    color: var(--logo-color);
}

.burger-btn{
    border: none;
}

.burger-btn:focus{
    box-shadow: none;
}

.ul-nav,
.ul-nav-reg{
    text-transform: capitalize;
}

.nav-a1-li,
.nav-a2-li,
.nav-a3-li{
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    min-width: 8vw;
    text-align: center;
    /* margin-left: 1vw; */
}

.nav-a1-li:hover,
.nav-a2-li:hover,
.nav-a3-li:hover{
    border-radius: 5px;
    background-color: hsla(var(--main-hue), 10%, 92%, 1);
}

.nav-a1-li:hover{
    border-bottom: 5px solid var(--logo-color);
}

.nav-a2-li:hover{
    border-bottom: 5px solid var(--red-color);
}

.nav-a3-li:hover{
    border-bottom: 5px solid var(--blue-color);
}

.nav-log-li,
.nav-sign-li{
    text-transform: capitalize;
    font-weight: 800;
    color: hsla(240, 2%, 10%, 1);
}

.nav-log-li:hover,
.nav-sign-li:hover{
    border-radius: 50%;
    border-bottom: 5px solid var(--logo-color);
    border-inline-start: 5px solid var(--red-color);
    color: hsl(216, 20%, 95%);
    max-width: fit-content;
    /* background-color: var(--red-color); */
    /* border-bottom: 5px solid var(--red-color); */
    /* border-inline-start: 5px solid linear-gradient(to bottom, var(--blue-color),var(--logo-color));
    border-bottom: 5px solid linear-gradient(to end, var(--logo-color),var(--red-color)); */
    /* border-image-source: linear-gradient(to end, var(--logo-color), var(--red-color), var(--blue-color) ); */
}

/* ====== END HEADER ====== */

/* ====== SLIDER ====== */

.slider{
    margin: auto;
    max-width: 96vw;
    max-height: 40vw;
}

.img-dv-slider{
    width: 100%;
    height: 100%;
}

.img-dv-slider img{
    /* display: inline-block; */
    width: 10%;
    height: 10%;
}

/* .slided-img{
    display: inline-block;
    max-width: inherit;
    max-height: inherit;
} */

/* .card{
    width: 22vw;
    border-radius: 10px;
}

.cacd-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .org-brand{
    max-width: 6vw;
    max-height: 10vw;
    border-radius: 7px;

    box-shadow: 0 0 #0000, 
                0 0 #0000, 
                0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-body .left-info{
    margin-block-start: 1px;
    margin-inline-start: -19px;
}

.card-body .org-name,
.card-body .org-city{
    // font-size: clamp(10px, 0.1rem + 2vw, 0.5rem); //
    font-weight: 700;
}

.card-body .org-name{
    text-transform: uppercase;
    color: var(--red-color);
    font-size: 1.1vw;
}

.card-body .org-city{
    text-transform: capitalize;
    color: var(--blue-color);
    font-size: 0.9vw;
}

.svg{
    width: fit-content;
    height: 4vh;
}

.left-info img{
    min-width: ;
} */

/* ====== END SLIDER ====== */

/* ====== PARTNERS ====== */

.patners-sec{
    margin: auto;
    max-width: 96vw;
    background-color: #fff;
    border: 1px solid #fff;
}

.img-div{
    /* border: 1px solid red; */
    /* text-align: center; */
}

.img-div img{
    /* border: 1px solid blue; */
    /* width: 16vw;
    height: 17vh; */
    width: 9vw;
    height: 16vh;
}

/* ====== END PARTNERS ====== */

